.slideshow-container{
    max-width:1000px;
    position:relative;
    margin:auto;
}
.slideshow{
    display:none;
}
.prev,.next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:white;
    font-weight: bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
    user-select: none;
}  
.next{
    right:0 ;
    border-radius:3px 0 0 3px;
}  
.numbertext {
    color:aliceblue;
    position:absolute;
    top:0 ;
    font-size:12px;
    padding:8px 12px;
}
.section1 {
    cursor:pointer;
    height:15px;
    background-color: black;
    width:15px;
    transition:background-color 0.6s ease;
}